/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: 'Junge';
    src: url('./fonts/Junge-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-ExtraLight.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-bgnd-dark: #19181d;
    --color-bgnd-mid: #242329;
    --color-txt-white: white;
    --color-txt-light: #cecece;

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 3rem;
}

h1,
h2 {
    font-family: 'Junge';
}

body {
    font-family: 'Outfit';
    background-color: var(--color-bgnd-dark);
    color: var(--color-txt-white);
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.muted {
    color: var(--color-txt-light);
}

#content {
    max-width: 70rem;
    place-self: center;
    padding: 6rem 0;
}

#content h2 {
    margin-bottom: 4rem;
    font-size: var(--font-2xl);
    text-transform: lowercase;
}

.hero-section {
    margin-top: 5vh;
    position: relative;

    & h1 {
        width: 100%;
        font-size: 18rem;
        line-height: 28rem;
        text-align: right;
        text-transform: lowercase;
        z-index: 10;
        position: absolute;
        right: -10%;
    }

    & img {
        padding-left: 12rem;
    }
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 6rem;
}

.menu-item {
    display: flex;
    height: 20rem;
    background-color: var(--color-bgnd-mid);
    text-transform: lowercase;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    padding: 1.5rem;
    font-size: var(--font-lg);
    line-height: normal;

    & > :last-child {
        margin-top: auto;
        font-size: var(--font-xl);
    }

    & > h3 {
        font-size: var(--font-xl);
        line-height: 2.5rem;
    }
}
