/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* STYLING */

@font-face {
    font-family: 'Junge';
    src: url('./fonts/Junge-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-ExtraLight.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-bgnd-dark: #19181d;
    --color-bgnd-mid: #242329;
    --color-txt-white: white;
    --color-txt-light: #cecece;

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 3rem;
}

h1,
h2 {
    font-family: 'Junge';
}

body {
    font-family: 'Outfit';
    text-transform: lowercase;
    background-color: var(--color-bgnd-dark);
    color: var(--color-txt-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    text-align: center;
}

.muted {
    color: var(--color-txt-light);
}

#content,
#main-nav {
    max-width: 70rem;
}

#main-nav {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: center;
}

.logo { 
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Junge';
    font-size: var(--font-lg);
    margin-right: auto;
}

#venue-nav {
    background-color: var(--color-bgnd-mid);
    width: 100%;
    display: flex;
    justify-content: center;

    & ul{
        max-width: 70rem;
        display: flex;
        list-style-type: none;
        gap: 2rem;
    }

    & li {
        padding: 0.25rem 0.5rem;
        border-bottom: .1rem solid;
        border-color: white;
    }
}

#content {
    display: flex;
    padding: 6rem 0;
    flex-direction: column;
    gap: 8rem;
}

#content h2 {
    margin-bottom: 4rem;
    font-size: var(--font-2xl);
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    width: 100%;
}

.hero-heading {
    grid-column: 2;
    grid-row: 1;
    font-size: 12rem;
    line-height: normal;
    align-self: end;
}

.hero-img {
    grid-column: 2;
    grid-row: 1/3;
    opacity: 90%;
    width: 26rem;
    aspect-ratio: 3/4;
    background-color: var(--color-bgnd-mid);
    overflow: hidden;
    z-index: -10;
    margin-left: auto;
    margin-right: 3rem;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero-subheading {
    grid-column: 1/3;
    grid-row: 2;
    justify-self: end;
    margin-right: 40%;
    margin-bottom: 1rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 6rem;
}

.menu-item {
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-bgnd-mid);
}

.menu-img {
    overflow: hidden;
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    padding: 1.5rem;
    font-size: var(--font-lg);
    line-height: normal;

    & > :last-child {
        margin-top: auto;
        font-size: var(--font-xl);
    }

    & > h3 {
        font-size: var(--font-xl);
        line-height: 2.5rem;
    }
}
